*{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.fPopi{
  font-weight: 700;
}

.fPopiSec{
  font-weight: 100;
}

.imgConf1{
  width: 900px;
  height: 600px;
  overflow: hidden;
}

.imgConf2{
  width: 100%;
  height: auto;
  max-height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
  transform: scaleX(10);
 }

 .texCent{
  text-align: center;
 }