.fPopi{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.fPopi2{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.fPopi3{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}